{% extends 'base.html.twig' %}

{% block contents %}
    {% if app.user %}
        <div ng-controller="regionCtrl" ng-init="getRegions()">

            {% block header %}
                {% include 'AdministrationBundle:header:header.html.twig' %}
            {% endblock %}

            {% block page %}
                <div class="page">
                    <div class="container">
                        <div class="row">
                            <div class="panel-body">
                                <h4 ng-cloak>
                                    <i class="fa fa-globe"></i> {{ ng.translate('REGIONS.LABEL') }}
                                </h4>
                                <hr/>
                                <div class="well table-responsive">
                                    <section st-table="regionsCollection" st-safe-src="regions.regions()">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-6">
                                                <input st-search class="form-control input-sm"
                                                       placeholder="{{ ng.translate('SEARCH') }}" type="text" ng-cloak/>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <table class="table table-striped table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th st-sort="Name" class="st-sortable col-md-10 col-xs-9"
                                                            ng-cloak>{{ ng.translate('REGIONS.NAME') }}</th>
                                                        <th class="st-nosort text-right col-md-2 col-xs-3"
                                                            ng-cloak>{{ ng.translate('ACTION') }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="row in regionsCollection">
                                                        <td ng-cloak>{{ '{{ row.Name }}' }}</td>
                                                        <td>
                                                            <div class="pull-right">
                                                                <button type="button" ng-click="editRegion(row.Id)"
                                                                        class="btn btn-xs btn-primary">
                                                                    <i class="fa fa-pencil"></i>
                                                                </button>
                                                                <button type="button" ng-click="deleteRegion(row.Id)"
                                                                        class="btn btn-xs btn-danger">
                                                                    <i class="fa fa-remove"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <button class="btn btn-sm btn-success pull-right"
                                                    ng-click="addRegion()" ng-cloak>
                                                <i class="fa fa-plus"></i> {{ ng.translate('ADD') }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/app/controllers/regionCtrl.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/datasets/regions.js') }}"></script>
{% endblock %}

