<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-default cursor-pointer" ng-click="">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2 text-center big-button-icon">
                            <i class="fa fa-map-marker fa-5x fa-fw"></i>
                        </div>
                        <div class="col-xs-10 text-center big-button-text" style="font-size: 30px;" ng-cloak>
                            {% verbatim %}
                                {{ stores.store().Name }}
                            {% endverbatim %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-green cursor-pointer" ng-click="showInformation()">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2 text-center big-button-icon">
                            <i class="fa fa-info-circle fa-5x fa-fw"></i>
                        </div>
                        <div class="col-xs-10 text-right big-button-text" style="font-size: 30px;" ng-cloak>
                            {{ ng.translate('STORE.INFORMATION') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-primary cursor-pointer" ng-click="showSensors()">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2 text-center big-button-icon">
                            <i class="fa fa-thermometer-half fa-5x fa-fw"></i>
                        </div>
                        <div class="col-xs-10 text-right big-button-text" style="font-size: 30px;" ng-cloak>
                            {{ ng.translate('SENSOR.SENSORS') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-yellow cursor-pointer" ng-click="">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2 text-center big-button-icon">
                            <i class="fa fa-warning fa-5x fa-fw"></i>
                        </div>
                        <div class="col-xs-2 text-center big-button-badge">
                            <span class="btn btn-default btn-circle" ng-cloak>
                                {% verbatim %}
                                {{ stores.store().Notifications.Count }}
                                {% endverbatim %}
                            </span>
                        </div>
                        <div class="col-xs-8 text-right big-button-text" style="font-size: 30px;" ng-cloak>
                            {{ ng.translate('NOTIFICATIONS.LABEL') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-info cursor-pointer" ng-click="pageBack()">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-left big-button-text" style="font-size: 30px;" ng-cloak>
                            {{ ng.translate('BACK') }}
                            <i class="fa fa-chevron-left fa-2x fa-fw pull-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

