<div class="container">

    {# Inventory information #}
    <h5 ng-cloak>
        <i class="fa fa-fw fa-list"></i> {{ ng.translate('INVENTORY.LABEL') }} {{ ng.translate('INVENTORY.OF') }} {{ store.Name }}
    </h5>
    <div class="well">
        {% verbatim %}
        <div class="form-group">
            <div class="row">
                <div class="col-md-2 col-xs-4" ng-cloak><label>{{ 'COLLECTIONS.NAME' | translate }}:</label></div>
                <div class="col-md-10 col-xs-8" ng-cloak>{{ collections.collection().Name }}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2 col-xs-4" ng-cloak><label>{{ 'COLLECTIONS.DESCRIPTION' | translate }}:</label></div>
                <div class="col-md-10 col-xs-8" ng-cloak>
                    <textarea class="form-control" rows="10" readonly style="resize: none;">{{ collections.collection().Description }}
                    </textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2 col-xs-4" ng-cloak><label>{{ 'COLLECTIONS.CREATED_BY' | translate }}:</label></div>
                <div class="col-md-10 col-xs-8" ng-cloak>{{ collections.collection().CreatedBy.Name }}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row" ng-show="collections.collection().EditedBy">
                <div class="col-md-2 col-xs-4" ng-cloak><label>{{ 'COLLECTIONS.EDITED_BY' | translate }}:</label></div>
                <div class="col-md-10 col-xs-8" ng-cloak>{{ collections.collection().EditedBy.Name }} ({{ collections.collection().UpdatedAt.date | GMT:'DD-MM-YYYY H:mm:ss' }})</div>
            </div>
        </div>
        <div ng-show="collections.collection().Attachments">
            <hr/>
            <h5 ng-cloak>
                <i class="fa fa-fw fa-paperclip"></i> {{ 'COLLECTIONS.ATTACHMENTS' | translate }}
            </h5>
            <hr/>
            <div class="row">
                <div ng-repeat="attachment in collections.collection().Attachments" class="col-md-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body" style="min-height:150px;">
                            <div class="row text-center">
                                <div ng-if="attachment.Type == 1">
                                    <img ng-click="showAttachment(attachment)" ng-src="{{ attachmentUrl(attachment.Id) }}" height="130"/>
                                </div>
                                <div ng-if="attachment.Type == 2">
                                    <a ng-href="{{ attachmentUrl(attachment.Id) }}" download><i class="fa fa-fw fa-file-pdf-o fa-5x"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-center text-muted">{{ attachment.Name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </div>

    {# Back button #}
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-info cursor-pointer" ng-click="showCollections('inventory')">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-left big-button-text" style="font-size: 30px;" ng-cloak>
                            {{ ng.translate('BACK') }}
                            <i class="fa fa-chevron-left fa-2x fa-fw pull-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

