<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-default" ng-click="">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2 text-center big-button-icon">
                            <i class="fa fa-map-marker fa-5x fa-fw"></i>
                        </div>
                        <div class="col-xs-10 text-center big-button-text" style="font-size: 30px;" ng-cloak>
                            {% verbatim %}
                                {{ stores.store().Name }}
                            {% endverbatim %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-repeat="sensor in sensors.sensors()" ng-show="sensor.IsEnabled" bs-collapse>
            <div class="col-md-6 col-lg-6">
                <div class="panel" ng-class="{ 'panel-primary': sensor.TypeId == 1, 'panel-info': sensor.TypeId != 1 }">
                    <div class="panel-heading text-left">
                        {% verbatim %}
                        <div class="row">
                            <div class="col-xs-2">
                                <i class="fa fa-fw fa-2x" ng-class="{ 'fa-cubes': sensor.TypeId == 1, 'fa-thermometer-2': sensor.TypeId == 2 || sensor.TypeId == 3, 'fa-sign-in': sensor.TypeId == 4 }"></i>
                            </div>
                            <div class="col-xs-8">
                                <label ng-class="{ 'group-name': sensor.TypeId == 1, 'sensor-name': sensor.TypeId == 2 || sensor.TypeId == 3 || sensor.TypeId == 4 }" ng-cloak>{{ sensor.Name }}</label>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-xs btn-primary pull-right" ng-if="sensor.TypeId == 1" bs-collapse-toggle><i class="fa fa-fw fa-caret-down"></i></button>
                            </div>
                        </div>
                        {% endverbatim %}
                    </div>
                    <div class="panel-body" bs-collapse-target>
                        <div ng-switch="sensor.TypeId">
                            <div ng-switch-when="1">
                                <div class="container-fluid">
                                    <div ng-switch="sensor.State">
                                        <div ng-switch-when="0">
                                            {%  set image = 'bundles/app/images/beertap.gif' ~ '?a=' ~ random(10000) %}
                                            <img class='group-image'
                                                ng-src="{{ asset(image) }}"/>
                                        </div>
                                        {% verbatim %}
                                        <div ng-switch-when="2">
                                            <div ng-repeat="isensor in sensors.sensorGroup(sensor.Id).devices">
                                                <div class="well well-sm" ng-if="isensor.IsEnabled">
                                                    <div class="row">
                                                        <div class="col-xs-5 col-md-5 group-sensor" ng-cloak>
                                                            {{ isensor.Name }}
                                                        </div>
                                                        <div class="col-xs-4 col-md-4 text-right group-sensor">
                                                            <div ng-switch="isensor.TypeId">
                                                                <div ng-switch-when="2" ng-cloak>
                                                                    {{ isensor.InternalTemperature | number: 2 }} °C
                                                                </div>
                                                                <div ng-switch-when="3" ng-cloak>
                                                                    {{ isensor.Temperature | number: 2 }} °C
                                                                </div>
                                                                <div ng-switch-when="4" ng-cloak>
                                                                    <div class="label label-success">
                                                                        {{ 'YES' | translate }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-3 col-md-3 text-right">
                                                            <i class="fa fa-fw fa-2x" ng-class="{ 'fa-check-circle text-success': isensor.State == 0, 'fa-question-circle text-info': isensor.State == 1, 'fa-exclamation-circle text-danger': isensor.State == 2 }"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endverbatim %}
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="2">
                                <highchart id="sensor.Name" config="sensor.chartConfig" ng-class="{ 'gauge-filter': sensor.State == 1 }"></highchart>
                            </div>
                            <div ng-switch-when="3">
                                <highchart id="sensor.Name" config="sensor.chartConfig" ng-class="{ 'gauge-filter': sensor.State == 1 }"></highchart>
                            </div>
                            <div ng-switch-when="4">
                                <highchart id="sensor.Name" config="sensor.chartConfig" ng-class="{ 'gauge-filter': sensor.State == 1 }"></highchart>
                            </div>
                        </div>
                    </div>
                    {% verbatim %}
                    <div ng-switch="sensor.TypeId">
                        <div class="panel-footer" ng-switch-when="1">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <button class="btn btn-sm btn-default pull-right" ng-click="showGroupSensors(sensor.Id)" ng-cloak>
                                        <i class="fa fa-fw fa-caret-right"></i> {{ 'DETAILS' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" ng-switch-default="">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-fw fa-2x" ng-class="{ 'fa-check-circle text-success': sensor.State == 0, 'fa-question-circle text-info': sensor.State == 1, 'fa-exclamation-circle text-danger': sensor.State == 2 }"></i>
                                </div>
                                <div class="col-xs-3">
                                    <div ng-switch="sensor.State" class="sensor-status">
                                        <div ng-switch-when="0" class="text-success" ng-cloak>
                                            {{ 'SENSOR.STATE.ACTIVE' | translate }}
                                        </div>
                                        <div ng-switch-when="1" class="text-info" ng-cloak>
                                            {{ 'SENSOR.STATE.INACTIVE' | translate }}
                                        </div>
                                        <div ng-switch-when="2" class="text-danger" ng-cloak>
                                            {{ 'SENSOR.STATE.NOTIFIED' | translate }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="pull-right sensor-updated"><small><i class="fa fa-fw fa-clock-o"></i> {{ sensor.DataCollectedAt.date | GMT: 'HH:mm:ss DD-MM-YYYY' }}</small></div>
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-sm btn-info" ng-click="showSensorLog(sensor)" ng-cloak>
                                        <i class="fa fa-fw fa-line-chart"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endverbatim %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-info cursor-pointer" ng-click="showDashboard()">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-left big-button-text" style="font-size: 30px;" ng-cloak>
                            {{ ng.translate('BACK') }}
                            <i class="fa fa-chevron-left fa-2x fa-fw pull-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

