{% extends 'base.html.twig' %}

{% block contents %}
    {% if app.user %}
        {% set execute = 'getMaintenancelog(' ~ store.Id ~ ')' %}
        <div ng-controller="logCtrl" ng-init="{{ execute }}">
            {% block header %}
                {% include 'AdministrationBundle:header:header.html.twig' %}
            {% endblock %}
            {% block page %}
                <div class="page">
                    <div class="container">
                        <div class="row">
                            <div class="panel-body">
                                <h4 ng-cloak>
                                    <i class="fa fa-book"></i> {{ ng.translate('MAINTENANCE.LOG') }}
                                </h4>
                                <hr/>
                                <div class="well table-responsive">
                                    <section st-table="logCollection" st-safe-src="logs.logs()">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-6">
                                                <input st-search class="form-control input-sm"
                                                       placeholder="{{ ng.translate('SEARCH') }}" type="text" ng-cloak/>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <table class="table table-striped table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th st-sort="MaintenanceStore.Name" class="st-sortable col-md-3" ng-cloak>{{ ng.translate('STORE.NAME') }}</th>
                                                        <th st-sort="Type.Name" class="st-sortable col-md-2" ng-cloak>{{ ng.translate('MAINTENANCE.TYPE') }}</th>
                                                        <th st-sort="MaintenanceBy.Name" class="st-sortable col-md-3" ng-cloak><i class="fa fa-fw fa-user"></i></th>
                                                        <th st-sort="MaintenanceStartedAt.date" class="st-sortable col-md-2" ng-cloak>{{ ng.translate('MAINTENANCE.START_MAINTENANCE') }}</th>
                                                        <th st-sort="MaintenanceStoppedAt.date" class="st-sortable col-md-2" ng-cloak>{{ ng.translate('MAINTENANCE.STOP_MAINTENANCE') }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="log in logCollection">
                                                            {% verbatim %}
                                                            <td ng-cloak>{{ log.MaintenanceStore.Name }}</td>
                                                            <td ng-cloak>{{ log.Type.Name | translate }}</td>
                                                            <td ng-cloak>{{ log.MaintenanceBy.Name }}</td>
                                                            <td ng-cloak>{{ log.MaintenanceStartedAt.date | GMT:'DD-MM-YYYY H:mm' }}</td>
                                                            <td ng-cloak>{{ log.MaintenanceStoppedAt.date | GMT:'DD-MM-YYYY H:mm' }}</td>
                                                            {% endverbatim %}
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-sm btn-default pull-left" ng-click="pageBack()" ng-cloak>
                                                <i class="fa fa-close"></i> {{ ng.translate('CANCEL') }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/app/controllers/logCtrl.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/datasets/logs.js') }}"></script>
{% endblock %}

