<li class="dropdown">
    <a href="#" data-toggle="dropdown">
        <i class="icon-book icon-white"></i><div class="inline" ng-cloak>{{ ng.translate('COMPANY.LABEL') }} <b class="caret"></b></div>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ path('administration_companies') }}" ng-cloak> {{ ng.translate('COMPANY.COMPANIES') }} </a></li>
        <li><a href="" ng-cloak> {{ ng.translate('COMPANY.BRANCHES') }} </a></li>
        <li><a href="{{ path('administration_regions') }}" ng-cloak> {{ ng.translate('COMPANY.REGIONS') }} </a></li>
    </ul>
</li>
