<div class="navbar navbar-default navbar-fixed-top">
    <div role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('administration_dashboard') }}" ng-cloak>{{  ng.translate('ADMINISTRATION.LABEL') }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {# Users #}
                    <li>
                        <a href="{{ path('administration_users') }}" ng-click="" ng-cloak>{{ ng.translate('HEADER.USERS') }}</a>
                    </li>

                    {# Companies #}
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            <i class="icon-book icon-white"></i><div class="inline" ng-cloak>{{ ng.translate('COMPANY.LABEL') }} <b class="caret"></b></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('administration_companies') }}" ng-cloak> {{ ng.translate('COMPANY.COMPANIES') }} </a></li>
                            <li><a href="{{ path('administration_stores') }}" ng-cloak> {{ ng.translate('STORE.STORES') }} </a></li>
                            <li><a href="{{ path('administration_regions') }}" ng-cloak> {{ ng.translate('COMPANY.REGIONS') }} </a></li>
                            <li><a href="{{ path('administration_inventory') }}" ng-cloak> {{ ng.translate('INVENTORY.LABEL') }} </a></li>
                        </ul>
                    </li>

                    {# Configuration #}
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            <i class="icon-book icon-white"></i><div class="inline" ng-cloak>{{ ng.translate('CONFIGURATION.LABEL') }} <b class="caret"></b></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('configuration_stores') }}" ng-cloak> {{ ng.translate('CONFIGURATION.STORES') }} </a></li>
                            <li><a href="{{ path('configuration_installation') }}" ng-cloak> {{ ng.translate('CONFIGURATION.INSTALLATION') }} </a></li>
                            <li><a href="{{ path('configuration_packetlog') }}" ng-cloak> {{ ng.translate('CONFIGURATION.PACKET_LOG') }} </a></li>
                        </ul>
                    </li>

                    {# Maintenance #}
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            <i class="icon-book icon-white"></i><div class="inline" ng-cloak>{{ ng.translate('MAINTENANCE.LABEL') }} <b class="caret"></b></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('administration_maintenance_general') }}" ng-cloak> {{ ng.translate('MAINTENANCE.GENERAL') }} </a></li>
                            <li><a href="{{ path('administration_maintenance_periodically') }}" ng-cloak> {{ ng.translate('MAINTENANCE.PERIODICALLY') }} </a></li>
                            <li><a href="{{ path('administration_maintenance_log') }}" ng-cloak> {{ ng.translate('MAINTENANCE.LOG') }} </a></li>
                        </ul>
                    </li>

                    {# Notifications #}
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            <i class="icon-book icon-white"></i><div class="inline" ng-cloak>{{ ng.translate('NOTIFICATIONS.LABEL') }} <b class="caret"></b></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('administration_open_notifications') }}" ng-cloak> {{ ng.translate('NOTIFICATIONS.OPEN_NOTIFICATIONS') }} </a></li>
                            <li><a href="{{ path('administration_closed_notifications') }}" ng-cloak> {{ ng.translate('NOTIFICATIONS.CLOSED_NOTIFICATIONS') }} </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            <i class="icon-book icon-white"></i><div class="inline" ng-cloak>{{ '{{ AUTH.user().Name }}' }} <b class="caret"></b></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="showProfile()" ng-cloak> {{ ng.translate('USER.PROFILE') }} </a></li>
                            <li><a href="{{ path('tcm_logout') }}" ng-cloak> {{ ng.translate('AUTH.LOGOUT') }} </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
