{% extends '::mail.html.twig' %}
{% block title %}{% endblock %}
{% block content %}
<h1>{{'email.credentials.header'|trans}} {{ Domain }}</h1>
<p>
    {{'email.credentials.text1'|trans({'%Domain%': Domain })|raw}}
</p>
<h3>{{'email.credentials.label'|trans}}:</h3>
<pre>
    {{'email.credentials.username'|trans}}: {{ User.Username }}
    {{'email.credentials.password'|trans}}: {{ Password }}
</pre>
<br>
<p>
    {{'email.credentials.text2'|trans({'%Domain%': Domain, '%Username%': User.Username })|raw}}
</p>
{% endblock %}