{% extends '::mail.html.twig' %}
{% block title %}{% endblock %}
{% block content %}
<h1>{{'email.password.header'|trans}} {{ Domain }}</h1>
<p>
    {{'email.password.text1'|trans({'%Domain%': Domain })|raw}}
</p>
<h3>{{'email.password.label'|trans}}:</h3>
<pre>
    {{'email.password.username'|trans}}: {{ User.Username }}
    {{'email.password.password'|trans}}: {{ Password }}
</pre>
<br>
<p>
    {{'email.password.text2'|trans({'%Domain%': Domain, '%Username%': User.Username })|raw}}
</p>
{% endblock %}