<div ng-form="deviceForm">
    <div class="panel-body">
        <h5 ng-cloak>
            <i class="fa fa-fw" ng-class="{'fa-thermometer':currentDevice.TypeId == 3, 'fa-cog': currentDevice.TypeId == 2 }"></i> {{ ng.translate('SENSOR.EDIT_SENSOR') }}
        </h5>
        <hr/>
        <div class="well">
            {# Sensor information block #}
            <div class="form-group">
                <label class="control-label col-md-2"
                       ng-cloak>{{ ng.translate('SENSOR.ACTIVE') }}</label>
                <div class="col-md-2">
                    {% verbatim %}
                    <toggle-switch
                            class="switch-small switch-success"
                            off-class="switch-small switch-danger"
                            ng-model="currentDevice.IsEnabled"
                            on-label="{{ 'YES' | translate }}"
                            off-label="{{ 'NO' | translate }}" ng-cloak>
                    </toggle-switch>
                    {% endverbatim %}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2"
                       ng-cloak>{{ ng.translate('SENSOR.UID') }}</label>
                <div class="col-md-3">
                    <input class="form-control input-sm" name="Uid" type="text" disabled
                           ng-model="currentDevice.Uid" no-enter/>
                </div>
            </div>
            <div class="form-group" ng-show="currentDevice.TypeId==3">
                <label class="control-label col-md-2"
                       ng-cloak>{{ ng.translate('SENSOR.OUTPUT_NUMBER') }}</label>
                <div class="col-md-3">
                    <input class="form-control input-sm" name="Uid" type="text" disabled
                           ng-model="currentDevice.OutputNumber" no-enter />
                </div>
            </div>
            <div class="form-group" ng-show="currentDevice.TypeId==4">
                <label class="control-label col-md-2"
                       ng-cloak>{{ ng.translate('SENSOR.INPUT_NUMBER') }}</label>
                <div class="col-md-3">
                    <input class="form-control input-sm" name="Uid" type="text" disabled
                           ng-model="currentDevice.InputNumber" no-enter />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2"
                       ng-cloak>{{ ng.translate('SENSOR.NAME') }}</label>
                <div class="col-md-6">
                    <input class="form-control input-sm" name="Name" type="text"
                           ng-model="currentDevice.Name" validation="min_len:3|required" no-enter/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2"
                       ng-cloak>{{ ng.translate('SENSOR.DESCRIPTION') }}</label>
                <div class="col-md-10">
                        <textarea class="form-control input-sm no-resize" name="Description"
                                  ng-model="currentDevice.Description" rows="5"></textarea>
                </div>
            </div>
            <div ng-switch="currentDevice.TypeId">
                <div ng-switch-when="3">
                    <div class="form-group">
                        <label class="control-label col-md-2"
                               ng-cloak>{{ ng.translate('SENSOR.TRIP_LOW') }}</label>
                        <div class="col-md-2">
                            <input class="form-control input-sm" name="LowLimit" type="text"
                                   ng-model="currentDevice.LowLimit" validation="integer_signed|required" no-enter/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"
                               ng-cloak>{{ ng.translate('SENSOR.TRIP_HIGH') }}</label>
                        <div class="col-md-2">
                            <input class="form-control input-sm" name="HighLimit" type="text"
                                   ng-model="currentDevice.HighLimit" validation="integer_signed|required" no-enter/>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="4">
                    <div class="form-group">
                        <label class="control-label col-md-2"
                               ng-cloak>{{ ng.translate('SENSOR.SWITCH_WHEN') }}</label>
                        <div class="col-md-2">
                            {% verbatim %}
                            <toggle-switch
                                    class="switch-small switch-danger"
                                    ng-model="currentDevice.SwitchWhen"
                                    on-label="{{ 'SENSOR.HIGH' | translate }}"
                                    off-label="{{ 'SENSOR.LOW' | translate }}" ng-cloak>
                            </toggle-switch>
                            {% endverbatim %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-sm btn-success pull-right" ng-click="showTreeView()" ng-disabled="deviceForm.$invalid">
                    <i class="fa fa-floppy-o" ng-cloak></i> {{ ng.translate('SAVE') }}
                </button>
            </div>
        </div>
    </div>
</div>