{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as mc %}

{% import _self as form %}

{% block contents %}
    {% if app.user %}
        {% set ngInit = "getStore(" ~ store.Id ~ ")" %}
        <div ng-controller="configurationCtrl" ng-init="{{ ngInit }}">

        {% block header %}
            {% include 'AdministrationBundle:header:header.html.twig' %}
        {% endblock %}

        {% block page %}
            <div class="page">
                <div class="container">
                    <div class="row">
                        <div class="panel-body">
                            <h4 ng-cloak>
                                <i class="fa fa-map-marker"></i> {{ mc.translate('STORE.LABEL') }}
                            </h4>
                            <hr/>
                            {% include 'AdministrationBundle:configuration:store_info.html.twig' %}
                            {% include 'AdministrationBundle:configuration:store_form.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/app/controllers/configurationCtrl.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/datasets/stores.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/datasets/controllers.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/datasets/sensors.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/datasets/devicegroups.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/datasets/charts.js') }}"></script>
{% endblock %}