{% extends 'base.html.twig' %}

{% block contents %}
    {% if app.user %}
        <div ng-controller="configurationCtrl" ng-init="getStores()">

            {% block header %}
                {% include 'AdministrationBundle:header:header.html.twig' %}
            {% endblock %}

            {% block page %}
                <div class="page">
                    <div class="container">
                        <div class="row">
                            <div class="panel-body">
                                <h4 ng-cloak>
                                    <i class="fa fa-map-marker"></i> {{ ng.translate('CONFIGURATION.LABEL') }} - {{ ng.translate('CONFIGURATION.STORES') }}
                                </h4>
                                <hr/>
                                <div class="well table-responsive">
                                    <section st-table="storesCollection" st-safe-src="stores.stores()">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-6">
                                                <input st-search class="form-control input-sm"
                                                       placeholder="{{ ng.translate('SEARCH') }}" type="text" ng-cloak/>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <table class="table table-striped table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th st-sort="Name" class="st-sortable col-md-4 col-xs-3"
                                                            ng-cloak>{{ ng.translate('STORE.NAME') }}</th>
                                                        <th st-sort="MainCompany" class="st-sortable col-md-4 col-xs-3"
                                                            ng-cloak>{{ ng.translate('STORE.COMPANY') }}</th>
                                                        <th st-sort="IsEnabled" class="st-sortable col-md-1 col-xs-3 text-center"
                                                            ng-cloak>{{ ng.translate('STORE.DEVICE_GROUPS') }}</th>
                                                        <th st-sort="IsEnabled" class="st-sortable col-md-1 col-xs-3 text-right"
                                                            ng-cloak>{{ ng.translate('STORE.ACTIVE') }}</th>
                                                        <th class="st-nosort col-md-1 col-xs-2 text-right"
                                                            ng-cloak>{{ ng.translate('ACTION') }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="row in storesCollection">
                                                        <td ng-cloak>{{ '{{ row.Name }}' }}</td>
                                                        <td ng-cloak>{{ '{{ row.MainCompany.Name }}' }}</td>
                                                        <td ng-cloak class="text-center">{{ '{{ row.DeviceGroups.length ? row.DeviceGroups.length : 0 }}' }}</td>
                                                        <td ng-cloak class="text-right">
                                                            <label class="label label-success tag-label" ng-show="{{ '{{ row.IsEnabled }}' }}">{{ ng.translate('YES') }}</label>
                                                            <label class="label label-danger tag-label" ng-hide="{{ '{{ row.IsEnabled }}' }}">{{ ng.translate('NO') }}</label>
                                                        </td>
                                                        <td>
                                                            <div class="pull-right">
                                                                <button type="button" ng-click="editStore(row.Id)"
                                                                        class="btn btn-xs btn-primary">
                                                                    <i class="fa fa-pencil"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/app/controllers/configurationCtrl.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/datasets/stores.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/datasets/controllers.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/datasets/sensors.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/datasets/devicegroups.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/datasets/charts.js') }}"></script>
{% endblock %}

